<!DOCTYPE html>
<html class="h-100" lang="en" xmlns:th="http://www.thymeleaf.org/">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CVS Contact</title>
    <link rel="shortcut icon" href="/images/CVS-Logo.png" type="image/png">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/template.css">
    <link rel="stylesheet" href="/css/contact.css">
</head>

<body class="d-flex h-100 text-center text-white bg-dark">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <div th:insert="layout/header :: header">...</div>

        <main class="container mb-auto">
            <div class="row">
                <!-- Section Titile -->
                <div class="col-md-12 wow animated fadeInLeft" data-wow-delay=".2s">
                    <h1 class="section-title">Love to Hear From You</h1>
                </div>
            </div>
            <div class="row">
                <!-- Section Titile -->
                <div class="col-md-6 mt-3 contact-widget-section2 wow animated fadeInLeft" data-wow-delay=".2s">
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page
                        when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
                        distribution of letters, as opposed to using Content.</p>

                    <div class="find-widget">
                        Company: <a href="https://hostriver.ro">HostRiver</a>
                    </div>
                    <div class="find-widget">
                        Address: <a href="#">4435 Berkshire Circle Knoxville</a>
                    </div>
                    <div class="find-widget">
                        Phone: <a href="#">+ 879-890-9767</a>
                    </div>

                    <div class="find-widget">
                        Website: <a href="https://uny.ro">www.uny.ro</a>
                    </div>
                    <div class="find-widget">
                        Program: <a href="#">Mon to Sat: 09:30 AM - 10.30 PM</a>
                    </div>
                </div>
                <!-- contact form -->
                <div class="col-md-6 wow animated fadeInRight" data-wow-delay=".2s">
                    <form class="shake" role="form" method="post" id="contactForm" name="contact-form"
                        data-toggle="validator">
                        <!-- Name -->
                        <div class="text-left">
                            <label for="name" class="form-label">Name</label>
                            <input type="text" class="form-control" id="name" placeholder="Name" required>
                            <div class="help-block with-errors"></div>
                        </div>
                        <!-- email -->
                        <div>
                            <label for="email" class="form-label">Email</label>
                            <input type="email" class="form-control" id="email" placeholder="Email" required>
                            <div class="help-block with-errors"></div>
                        </div>
                        <!-- Subject -->
                        <div>
                            <label for="msg_subject" class="form-label">Subject</label>
                            <input type="email" class="form-control" id="msg_subject" placeholder="Subject" required>
                            <div class="help-block with-errors"></div>
                        </div>
                        <!-- Message -->
                        <div>
                            <label for="message" class="form-label">Message</label>
                            <textarea class="form-control text-dark" id="message" placeholder="Message" rows="3" required></textarea>
                            <div class="help-block with-errors"></div>
                        </div>
                        <!-- Form Submit -->
                        <div class="form-submit mt-2">
                            <button class="btn btn-primary w-100" type="submit" id="form-submit">
                                <i class="material-icons mdi mdi-message-outline"></i> Send Message
                            </button>
                        </div>
                    </form>
                </div>
        </main>
        <div th:insert="layout/footer :: footer">...</div>
    </div>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/app.js"></script>
</body>

</html>