<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thanks</title>
</head>

<body>
    <h1>Thanks for your contact</h1>
    <table>
        <tr>
            <th>Campo</th>
            <th>Valor</th>
        </tr>
        <tr>
            <td>Name</td>
            <td th:text="${info.name}">.</td>
        </tr>
        <tr>
            <td>Email</td>
            <td th:text="${info.email}">.</td>
        </tr>
        <tr>
            <td>Subject</td>
            <td th:text="${info.subject}">.</td>
        </tr>
        <tr>
            <td>Message</td>
            <td><pre th:text="${info.message}"></pre>.</td>
        </tr>

    </table>
</body>

</html>